.usersContener {
  margin: 50px 200px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.userss {
  border: 0.5px solid rgba(192, 146, 102, 0.719);
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  width: 200px;
  height: 160px;
}
.imgContener0 {
  display: inline-block;
  position: relative;
}

.img3 {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: absolute;
  top: -10px;
  right: -41px;
  transition: 0.5s ease;

}
.img3:hover{
    cursor: pointer;
    transform: scale(1.25) perspective(1px);
}
.userName {
  margin-top: 70px;
  margin-bottom: 10px;
}

.deleteBtn2 {
  border-style: none;
  background-color: rgba(192, 146, 102, 0.719);
  color: white;
  padding: 4px;
  border-radius: 5px;
  transition: 0.5s ease;

}

.deleteBtn2:hover{
    cursor: pointer;
    transform: scale(1.25) perspective(1px);
}