.PostItt {
  position: absolute;
  border-style: none;
  background-color: rgb(0, 0, 0);
  color: white;
  padding: 8px 20px;
  border-radius: 7px;
  font-size: 25px;
  z-index: 5;
  /* margin-top: 25px; */
  transition: 0.5s ease;
  font-family: "Dosis", sans-serif;
  top : 125px ; 
  right: 155px
}

.PostItt:hover {
  transform: scale(1.25) perspective(1px);
  cursor: pointer;
}

.loadingProfile {
  margin: 10px;
}
.loading{
margin-top: 40px;
}
