.home {
  /* text-align: left; */
  /* background-color: rgba(0, 0, 0, 0.103); */
  color: white;
  position: absolute;
  top: 0;
  width: 100%;
  padding-top: 80px;
  z-index: -1;
}
.describe {
  text-align: left;
  margin: 30px 10px 10px;
}
.describe:hover {
  cursor: pointer;
}
.by {
  font-weight: 600;
  display: inline-block;
  margin-left: 40px;
  position: absolute;
  top: 12px;
}

.post {
  text-align: left;
  align-items: left;
  position: relative;
  background-color: rgba(0, 0, 0, 0.719);
  border-bottom: 0.2px solid rgba(153, 152, 152, 0.616);
  margin: 0 200px;
  border-radius: 10px;
  word-wrap: break-word;
}
#gotothesecondpage {
  margin-bottom: 0px;
  font-size: 50px;
}
.imgContener {
  text-align: left;
  margin-left: 10px;
  margin-top: 10px;
  display: inline-block;
}

.fkoe {
  color: black;
  margin-left: 175px;
}
.imgg {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  position: absolute;
  top: 5px;
}

.backg {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -4;
  background-color: rgb(0, 0, 0);
  opacity: 0.7;
}

.bgg {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -2;
  background-color: rgba(0, 0, 0, 0.774);
}

.homeBtn {
  border-style: none;
  background-color: rgba(64, 224, 208, 0);
  border: 1px solid rgb(255, 255, 255);
  color: white;
  padding: 7px 15px;
  border-radius: 20px;
  font-size: 28px;
  transition: 0.5s ease;
  margin-top: 40px;
  margin-bottom: 350px;
}

.homeBtn a {
  text-decoration: none;
  color: white;
}

.homeBtn:hover {
  transform: scale(1.25) perspective(1px);
  cursor: pointer;
  background-color: rgba(128, 128, 128, 0.493);
}

.firstHead {
  margin-top: 200px;
  font-size: 70px;
}
.secHead {
  font-size: 28px;
  margin-top: 20px;
}

.marginB {
  margin-bottom: 180px;
}

.newP {
  transition: 0.5s ease;
  background-color: rgba(192, 146, 102, 0.719);
  border-style: none;
  color: white;
  padding: 7px;
  border-radius: 5px;
  font-size: 23px;
  margin-bottom: 10px;
}
.newP:hover {
  transform: scale(1.25) perspective(1px);
}

#modal-modal-description {
  position: relative;
}

.PostIt {
  border-style: none;
  background-color: black;
  color: white;
  padding: 8px 20px;
  border-radius: 7px;
  font-size: 25px;
  margin-top: 15px;
  transition: 0.5s ease;
  font-family: "Dosis", sans-serif;
  position: absolute;
  top: 110px;
  right: 155px;
  z-index: 1;
}

.NewPostModel {
  padding: 50px;
}

.PostIt:hover {
  transform: scale(1.25) perspective(1px);
  cursor: pointer;
}
.photoPlus {
  text-align: left;
  margin-left: 10px;
  color: gray;
}


.videoInsideDec{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -3;
    background-color: rgb(0, 0, 0);
    opacity: 0.7;
}

.bggg{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -2;
    background-color: rgba(0, 0, 0, 0.486);
}