* {
  margin: 0;
  padding: 0;
  text-align: center;
  align-items: center;
}
.nav {
  background-color: rgba(255, 255, 255, 0);
}
.lie {
  display: inline-block;
  margin: 1% 5%;
}
.lie1 {
  font-family: "Allura", cursive;
  list-style: none;
}

#logOut {
  display: inline-block;
  /* margin-left: 18%; */
}
#logOut:hover {
  cursor: pointer;
}

.link {
  text-decoration: none;
  color: rgb(0, 0, 0);
  color: white;
  font-size: 23px;
  font-family: "Courier New", Courier, monospace;
}

.PostIt {
  border-style: none;
  background-color: black;
  color: white;
  padding: 3px 10px;
  border-radius: 7px;
  font-size: 23px;
  margin-top: 15px;
  transition: 0.5s ease;
  font-family: "Dosis", sans-serif;
}

.PostIt:hover {
  transform: scale(1.25) perspective(1px);
  cursor: pointer;
}
