* {
  margin: 0;
  padding: 0;
  text-align: center;
  align-items: center;
}
.nav {
  background-color: rgba(255, 255, 255, 0);
}
.lie {
  display: inline-block;
  margin: 1% 5%;
}
.lie:hover {
  cursor: pointer;
}
.lie1 {
  list-style: none;
}

#logOut {
  display: inline-block;
  /* margin-left: 18%; */
}
#logOut:hover {
  cursor: pointer;
}

.link {
  text-decoration: none;
  color: rgb(0, 0, 0);
  color: white;
  font-size: 23px;
}

.newPostInputt {
  display: block;
  margin: 0px 0px 0px 30px;
  width: 330px;
  border-style: none;
  padding: 5px;
  font-size: 20px;
  border-radius: 3px;
  font-family: "Dosis", sans-serif;
  border-bottom: 0.5px solid rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
  margin-bottom: 25px;
}

.box {
  border-radius: 10px;
}
