.describeItem {
  font-family: "Dosis", sans-serif;
  font-size: 50px;
  align-items: center;
  text-align: center;
}
.Logg {
  display: block;
  margin-top: 100px;
  margin-bottom: 50px;
}

.describeItem input {
  display: block;
  margin-left: 490px;
  border-style: none;
  padding: 5px;
  font-size: 30px;
  border-radius: 3px;
  font-family: "Dosis", sans-serif;
  border-bottom: 0.5px solid rgb(255, 255, 255);
  color: white;
  background-color: rgba(0, 0, 0, 0);
}
.LogBtn {
  margin-top: 1%;
  color: rgb(255, 255, 255);
  padding: 6px 20px;
  border-radius: 7px;
  border: none;
  font-family: "Lato", sans-serif;
  transition: 0.5s ease;
  background: rgba(255, 255, 255, 0);
  list-style: none;
  text-align: center;
  font-weight: bold;
}

.LogBtn:hover {
  cursor: pointer;
  transform: scale(1.25) perspective(1px);
}

.goIcon {
  color: rgba(192, 145, 102, 0.794);
  /* background-color: rgba(192, 146, 102, 0.719); */
  font-size: 45px;
}
.mesageL {
  font-size: 25px;
}

.forgetPass {
  margin-top: 20px;
  font-size: 25px;
}

.already {
  font-size: 30px;
}

.linkk {
  color: white;
}
